.header {
    background-color: chocolate;
    #one {
        background-color: chartreuse;
        ul {
            li {
                background-color: black;
                color: white;
            }
        }
    }
    #two {
        background-color: aquamarine;
        ul {
            li {
                background-color: crimson;
            }
        }
    }
    .contenu {
        background-color: cornflowerblue;
    }
    .aside {
        background-color: darkgoldenrod;
    }
}

.main {
    img {
        max-width: 100%;
    }
    .presentation {
        .article1 {
            border: 1px solid red;
            background-color: rgb(11, 230, 79);
        }
        .article2 {
            background-color: rgb(49, 201, 124);
        }
        .article3 {
            background-color: rgb(157, 160, 173);
        }
        .article4 {
            background-color: rgb(165, 5, 210);
        }
        .article5 {
            background-color: rgb(56, 126, 255);
        }
        .article6 {
            background-color: rgb(150, 84, 63);
        }
    }
    .media {
        >* {
            height: 100px;
            width: 100%;
            border: 1px solid red;
        }
        .img1 {
            background-color: purple;
        }
        .img2 {
            background-color: yellow;
        }
        .img3 {
            background-color: green;
        }
        .img4 {
            background-color: blue;
        }
        .img5 {
            background-color: red;
        }
    }
    .media2 {
        >* {
            height: 300px;
            width: 100%;
        }
        .article1 {
            background-color: rgb(150, 58, 29);
        }
        .article2 {
            background-color: pink;
            div {
                height: 100%;
                width: 100%;
                border: 1px solid blue;
            }
        }
    }
    .media3 {
        >* {
            height: 200px;
            width: 100%;
        }
        .section {
            background-color: darksalmon;
            div {
                height: 100%;
                width: 100%;
                border: 1px solid black;
            }
        }
        .contenu {
            background-color: darkorange;
        }
    }
}

.footer {
    >* {
        height: 1000px;
        width: 100%;
    }
    .title {
        background-color: darkolivegreen;
        div {
            height: 100%;
            width: 100%;
            border: 1px solid red;
        }
    }
    .foot{
        background-color: magenta;
        div{
            height: 100%;
            width: 100%;
            border: 1px solid blue;
        }
    }
}